*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(22, 21, 21);
}
li{
    list-style-type: none;
    }
p{
    margin-bottom: 0;
}

/*generico*/

.flex{
    display: flex;
}

.flex_row{
    display: flex;
    flex-direction: row;
}

.a{
    text-decoration: none;
    font-style: normal;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
    
.a_registrate{
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: rgb(0, 83, 122);
    font-size: inherit;
}

/*HEADER*/
.header {
    background-image: linear-gradient(to bottom,rgba(19,20,24,1) 51%,rgba(19,20,24,0) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_logo{
    padding-left: 5rem;
}

.header_div{
    gap: 2rem;
    display: flex;
    margin-right: 5rem;
}

.header_div_a{
    border-right: solid ;
    padding-right: 2rem;
    text-decoration: none;
    font-style: normal;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header_nav_ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    margin-bottom: 0;
}

.header_nav_ul_li {
    padding-right: 2rem;
    border-right: solid white;
}

/*MAIN*/

    /*TRANSMISION EN VIVO*/
.section_vivo{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 42, 72); 
}

.section_vivo_div1{
    display: flex;
    justify-content: space-between;
}

.section_vivo_div1_iframe{
    width: 100%;
    height: 100%;
}

.section_vivo_div1_div{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1rem 0 1rem 2rem;
    padding-left: 1rem;
    border-left: solid white;
    width: max-content;
}

.section_vivo_div1_p {
    font-size: 30px;
    width: 12rem;
}

.section_vivo_div2{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 0 0 15rem;
    background-color: rgb(57, 51, 54);
    border-left: none;
    padding: 0 2rem 0 2rem;
}

    /*DESTACADOS*/
.section_destacados {
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,sans-serif;
    padding: 1rem 3rem;
    margin: 7rem 0 0 0;
    background-color: #8080806b;
}

.section_destacados_h1{
    padding-left: 1rem;
    border-left: solid white;
    margin-bottom: 0;
}

.section_destacados_div{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: space-between;
}

.section_destacados_div_p{
    text-align: left;
    padding-top: 1rem;
}

    /*MUNDIAL*/
.div_mundial {
    background-image: url(../img/fondoMundial.jpg);
    width: 100%;
    height: fit-content;
    margin-top: 6rem;
}

.div_mundial_logo {
    padding: 2rem 0;
    margin-left: 9rem;
    width: fit-content;
}

.div_mundial_div { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 3rem;
}

.div_mundial_div_contenedor1{
    height: fit-content;
    width: fit-content;
    padding-bottom: 0.5rem;
    background-color: rgba(57, 51, 54, 0.534);
}

.div_mundial_div_contenedor2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 3rem;
    align-items: flex-start;
    justify-items: center;
}

.img1_mundial {
    height: 520px;
    width: 480px;
}

.contenedor1_div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 7px 0 7px 0;
    padding-left: 10px;
}

.contenedor1_div_p_strong{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(7, 33, 51);
}

.contenedor1_div_p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: left;
}

.div_contenedor2--position1 {
    height: fit-content;
    width: fit-content;
    padding-bottom: 0.5rem;
    background-color: rgba(57, 51, 54, 0.534);
}

.contenedor2_img {
    height: 150px;
    width: 280px;
}

.div_contenedor2--position2 {
    height: fit-content;
    width: min-content;
    padding-bottom: 0.5rem;
    background-color: rgba(57, 51, 54, 0.534);
} 

    /*PROGRAMACION*/

.img_programacion{
    width: 200px;
    height: 150px;
}



    /*FOOTER*/
.footer_section1 {
    margin: 0 4rem 0 4rem;
    padding: 1rem 0 1rem 0;
    border-bottom: solid white;
    display: flex;
    gap: 50%;
    justify-content: space-between;
    align-items: center;
}

.footer_div {
    padding: 1rem 0 0 0;
    margin: 0 0rem 2rem 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer_div_p{
    margin-bottom: 1rem;
    color: rgb(24 85 127);
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer_div_ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer_section2{
    margin: 0 0 2rem 4rem;
}

.footer_section2_ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 15px;
    padding-left: 0;
}

.footer_section2_p--border {
    border-top: solid white;
    padding-top: 1rem;
    margin: 0 4rem 1rem 0;
    color: rgb(24 85 127);
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    /*INGRESO*/
.body_background_ingreso{
    background-image: url(../img/fondo_formulario_ingreso.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ingreso_div {
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(145, 10, 10, 0.315), 0 6px 20px 0 rgba(0, 0, 0, 0.568);
    height: 28rem;
    width: 50rem;
    display: flex;
    border: solid white;
}

.ingreso_div_div1 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.ingreso_h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2rem 0 2rem 0;
    color: rgb(0, 83, 122);
}

.ingreso_h1--color {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2rem;
}

.form_div {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin: 0 0 5rem 0;
}

.form_label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkgray;
}

.input_ingreso {
    margin-top: 7px;
    border-color: rgba(148, 151, 151, 0.527);
    border-radius: 4px;
    width: 250px;
    height: 30px;
}

.ingreso_div_div2 {
    background-color: rgba(82, 71, 71, 0.452);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.btn_registrate {
    color: rgb(0, 83, 122);
    font-size: inherit;
    font-weight: 700;
    width: 10rem;
    height: 3rem;
    border: solid rgb(0, 83, 122);
    border-radius: 32px;
    text-align: center;
    background-color: whitesmoke;
    display: inline-block;
    cursor: pointer;
}

.div_form_ingresar{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.btn_ingresar {
    width: 10rem;
    height: 3rem;
    border: solid rgb(0, 83, 122);
    font-size: inherit;
    font-weight: 700;
    color: white;
    border-radius: 4px;
    text-align: center;
    background-color: rgb(0, 83, 122);
    display: inline-block;
    cursor: pointer;
}

.button1:hover{
    transition-duration: 0.4s;
    background-color: white;
    color: rgb(0, 83, 122);
    
}

.button2:hover{
    transition-duration: 0.4s;
    background-color:rgb(0, 83, 122);
    color: white;
}


.background_registrate{
    background-color:  rgb(71, 71, 240);
}

    /*PROGRAMAS*/
.main_programas_h1{
    padding-left: 1rem;
    border-left: solid white;
    margin: 2rem 5rem;
    color: white;
}

.main_programas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(9,15rem);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin: 0 5rem;
}

.main_programas_div {
    position: relative;
    overflow: hidden;
}

.p_nombre_programa{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(7, 33, 51);
}

.p_horario{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-bottom: 10px;
}

.programas_div_a {
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
}

.main_programas_img {
    width: 100%;
    height: 100%;
}

.main_programas_a_div{
    padding-left: 1rem;
    width: 80%;
    position: absolute;
    bottom: 1rem;
    background-color: rgba(92, 94, 94, 0.664);
}

/*VIVO*/
.main_vivo_iframe {
    margin: 0 5rem;
    width: -webkit-fill-available;
    height: 550px;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px){

    /*HEADER*/
    .header {
        width: 100%;
        justify-content: space-around;
    }
    .header_nav_ul {
        font-size: 10px;
        padding-left: 0;
        gap: 0.5rem;
    }
    .header_li {
        padding-right: 0.5rem;
    }
    
    /*SECCION VIVO*/
    .section_vivo {
        flex-direction: column;
    }
    .section_vivo_div1 {
        flex-direction: column;
    }
    .section_vivo_iframe {
        width: 100%;
        height: 200px;
    }
    .section_vivo_div_p {
        font-size: 30px;
        width: 0;
    }
    .section_vivo_div2 {
        height: 4rem;
        justify-content: center;
        margin: 0;
    }

    /*SECCION MUNDIAL*/
    .div_mundial_logo {
        margin-left: 100px;
    }
    .div_mundial_div {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .img1_mundial {
        height: 100%;
        width: 550px;
    }
    .div_contenedor1 {
        flex-wrap: wrap;
        gap: 2rem;
    }
    .div_mundial_div_contenedor2 {
        row-gap: 1rem;
        column-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .div_contenedor2--position1 {
        height: fit-content;
        width: min-content;
    }
    .contenedor2_img {
        height: 120px;
        width: 150px;
    }
    .div_contenedor2--position2 {
        height: min-content;
        width: min-content;
    }

    /*FOOTER*/
    .footer_div {
        margin: 0 0rem 2rem 2rem;
    }
    .footer_section1 {
        margin: 0 2rem 0 2rem;
        gap: 1rem;
    }
    .footer_programas {
        column-gap: 1rem;
        row-gap: 2rem;
        margin-right: 2rem;
    }
    .footer_section2_programas {
        margin: 0 0 2rem 2rem;
    }
    .footer_div {
        margin: 0 0rem 2rem 2rem;
        grid-template-columns: 1fr;
    }
    .footer_p_programas--border {
        margin: 0 2rem 1rem 0;
    }
}

@media screen and (max-width: 425px){

    /*HEADER*/
    .header {
        flex-direction: column;
        width: 100%;
    }
    .header_nav_ul {
        font-size: 10px;
        padding-left: 0;
        gap: 0.5rem;
    }
    .header_li {
        padding-right: 0.5rem;
    }
    .header_div {
        margin-right: 0;
    }

    /*SECCION VIVO*/
    .section_vivo {
        flex-direction: column;
    }
    .section_vivo_div1 {
        flex-direction: column;
    }
    .section_vivo_div_p {
        font-size: 30px;
        width: 0;
    }
    .section_vivo_div2 {
        height: 4rem;
        justify-content: center;
        margin: 0;
    }

    /*SECCION MUNDIAL*/
    .div_mundial {
        width: fit-content;
    }
    .div_mundial_logo {
        margin: 0 10px;
        padding: 0 0 2rem 0;
    }
    .div_mundial_div {
        flex-direction: column;
        gap: 20px;
    }
    .img1_mundial {
        height: 250px;
        width: 100%;
    }
    .div_contenedor1 {
        flex-wrap: wrap;
        gap: 2rem;
    }
    .div_mundial_div_contenedor2 {
        row-gap: 1rem;
        column-gap: 0;
        grid-template-columns: 1fr;
    }
    .div_contenedor2--position1 {
        height: min-content;
        width: min-content;
    }
    .div_contenedor2--position2 {
        height: min-content;
        width: min-content;
    }

    /*PROGRAMAS*/
    .main_programas {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(9,15rem);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        margin: 0 1rem;
    }
    .main_programas_div {
        position: relative;
        height: 145px;
        overflow: hidden;
    }
    .main_programas_a_div {
        width: 90%;
    }
    .p_nombre_programa {
        font-size: 15px;
    }
    .p_horario {
        font-size: 10px;
    }
    .main_programas_img {
        width: 100%;
        height: 145px;
    }

    /*FOOTER*/
    .footer_div {
        grid-template-columns: 1fr;
    }
    .footer_section1 {
        margin: 0 2rem 0 2rem;
        flex-direction: column;
        gap: 1rem;
    }
    .footer_programas {
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 2rem;
        margin-right: 2rem;
    }
    .footer_section2_programas {
        margin: 0 0 2rem 2rem;
    }
    .footer_div {
        margin: 0 0rem 2rem 2rem;
        grid-template-columns: 1fr;
    }
    .footer_p_programas--border {
        margin: 0 2rem 1rem 0;
    }

    



}




























