    /*DESTACADOS*/
    .section_destacados {
        overflow-x: scroll;
        display: flex;
        flex-direction: column;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,sans-serif;
        padding: 1rem 3rem;
        margin: 7rem 0 0 0;
        background-color: #8080806b;
        &_h1{
            padding-left: 1rem;
            border-left: solid white;
        }
        &_div {
            display: flex;
            gap: 2rem;
            margin-top: 2rem;
            justify-content: space-between;
        }
            &_p{
                text-align: left;
                padding-top: 1rem;
            }

    }
    
    
    
    
    
    