.header {
    background-image: $fondo-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_logo{
        margin-left: 5rem;
    }
    &_nav_ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
        margin-bottom: 0;
        &_li{
            color: white;
            font-size: large;
            transition: all 0.5s;
            &:hover{
                color: $color-hover-header;
                font-size: x-large;
            }
        }
    }
    &_div{
        display: flex;
        align-items: center;
        margin-right: 5rem;
        .my_search_header_button{
            background-color: $fondo-search-btn;
            border: none;
            color: white;
        }
        .header_dropdown_bg{
            background-color: $fondo-search-btn ;
            .header_input_search{
                width: 200px;
            }
        }
    }
    .my_header_button{
        background-color: $fondo-responsive-btn;
        border: solid white;
        border-width: thin;
        color: white;
    }
    .my_header_offcanvas{
        background-color: $fondo-responsive-btn;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
}

