    /*MUNDIAL*/
    .div_mundial {
        background-image: url(../img/fondoMundial.jpg);
        width: 100%;
        height: fit-content;
        padding: 2rem 0;
        margin-top: 6rem;
        &_logo {
            padding: 2rem 0;
            margin-left: 9rem;
            width: fit-content;
        }
        &_div {
            display: flex;
            justify-content: space-evenly;
            padding-bottom: 3rem;
        }
            &_contenedor1{
                height: fit-content;
                width: fit-content;
                padding-bottom: 0.5rem;
                background-color: rgba(57, 51, 54, 0.534);
                .img1_mundial {
                    height: 500px;
                    width: 750px;
                }
            }
            .contenedor1_div{
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: 7px 0 7px 0;
                padding-left: 10px;
                &_p_strong{
                    font-size: 30px;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    color: rgb(7, 33, 51);
                }
                &_p {
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    color: white;
                    text-align: left;
                }
            }
            &_contenedor2 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                row-gap: 3rem;
                column-gap: 3rem;
                align-items: flex-start;
                justify-items: center;
                .div_contenedor2--position1 {
                    height: fit-content;
                    width: fit-content;
                    padding-bottom: 0.5rem;
                    background-color: rgba(57, 51, 54, 0.534);
                    .contenedor2_img {
                        height: 180px;
                        width: 320px;
                    }
                }
                .div_contenedor2--position2 {
                    height: fit-content;
                    width: min-content;
                    padding-bottom: 0.5rem;
                    background-color: rgba(57, 51, 54, 0.534);
                }
            }
    }
    